.answerCapsule {
  /* padding: 1em 2em;
  border-radius: 0.5em;
  width: 70%;
  margin: 1em;
  border: 1px solid #333;
  text-align: center; */

  width: 88%;
  margin: 0.5em 0em;
  border-radius: 0.5em;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  margin: 1em 0em;
  width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper > h3 {
  margin: 1em 0em 1.5em 0em;
}

.answerCapsule > p {
  font-size: 1rem;
  font-weight: 500;
}

.answerCapsuleDark {
  background-color: #4b4b4b7e;
  color: #fff;
}

.answerCapsuleLight {
  background-color: rgba(196, 196, 196, 0.582);
  color: #504a40;
}

.rightAnswer {
  background-color: #34d399;
  border-radius: 0.5em;
  padding: 1.3em;
}

.wrongAnswer {
  background-color: #f87171;
  border-radius: 0.5em;
  padding: 1.3em;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resultContainer > h1 {
  margin: 1em 0em 0em 0em;
}

.resultContainerDark {
  background-color: #243b53;
  color: #fff;
}

.resultContainerLight {
  background-color: #f8f9fb;
  color: #504a40;
}

.pad13 {
  padding: 1.3em;
}
