.quizContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90vh;
}

.quizContainerDark {
  background-color: #243b53;
  color: #fff;
}

.quizContainerLight {
  background-color: #f8f9fb;
  color: #504a40;
}


.quizCardWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}